= f.hidden_field :type
= f.text_field :first_name, :label => 'First Name'
= f.text_field :last_name, :label => 'Last Name'
- if @person.class == Child
  = f.radio_select :age, [['4 or younger', 0], ['5-12', 1], ['13-18', 2]], :label => 'Age'
- else
  = f.localized_country_select :country,  [], :include_blank => 'Please choose...', :label => 'Country'
  = f.check_box :low_income, :label => 'Low income'
  = f.radio_select :sex, [['Male', 'm'], ['Female', 'f']], :label => 'Sex'
  = f.text_field :email, :label => 'Email'
  = f.text_field :phone_number, :label => 'Mobile phone'
  = f.check_box :parent, :label => 'Parent?', :help => "#{this_person_is_or_i_am} bringing a child under 13 to the course"
  = f.check_box :helper, :label => 'Helping before/after?', :help => "#{this_person_is_or_i_am} helping on the days before and after the course <span class=\"extra\">(#{link_to 'Learn how to help', '#'})"
