<div class=<%= @group ? "other_person" : "inner" %>>
	<% unless @group %>
	<p>You must be an adult to register. If you are attending with children, you may add them in the next section.</p>
	<% end %>
	<% if @group %>
	<h3>
	   <%= link_to_function "Remove this person", "remove_element(this, '.other_person')", :class => 'remove' %>
		<%= @kind %> in your group
	</h3>
	<% end %>
	<table class="form">
		<tr>
			<th>First Name</th>
			<td><%= text_field :person, :first_name %></td>
		</tr>
		<tr>
			<th>Last Name</th>
			<td><%= text_field :person, :last_name %></td>
		</tr>
		<% if @kind == "Child" %>
		<tr>
			<th>Age</th>
			<td>
				<label><input type="radio" name="age" checked="checked" /> 4 or younger</label><br />
				<label><input type="radio" name="age" /> 5-12</label><br />
				<label><input type="radio" name="age" /> 13-18</label>
			</td>
		</tr>
		<% else %>
		<tr>
			<th>Country</th>
			<td>
				<select><option>Switzerland</option></select> 
				<span style="font-size: 12px; color: #666;">
					<input type="checkbox" /> Low income
					<!-- Non-EU discount will apply -->
				</span>
			</td>
		</tr>
		<tr>
			<th>Sex</th>
			<td>
				<label><input type="radio" name="sex" checked="checked" /> Male</abel>
				<label><input type="radio" name="sex" /> Female</label>
			</td>
		</tr>
		<tr>
			<th>Email</th>
			<td><%= text_field :person, :email %></td>
		</tr>
		<tr>
			<th>Mobile phone</th>
			<td><%= text_field :person, :phone_number %></td>
		</tr>
		<tr>
			<th>Parent?</th>
			<td><label><input type="checkbox" /> <%= @group ? "This person is" : "I am" -%> bringing a child under 13 to the course</label></td>
		</tr>
		<tr>
			<th>Helping before/after?</th>
			<td><label><input type="checkbox" /> <%= @group ? "This person is" : "I am" -%> helping on the days before and after the course <span style="color: #666; font-size: 12px;">(<a href="">Learn how to help</a>)</span></td>
		</tr>
		<% end %>
	</table>
</div>

<% unless @group %>	
<div class="section">
	<h2>Are you registering a group or a family?</h2>

	<div class="inner">
	<p>You can add other people to your registration if you are paying for the group and everyone in the group will attend the course on the same days.</p>
	<div id="people">
	</div>
	  <div class="add_people">
		<span>
			<%= button_to_remote "Add a child to your group", :url => { :action => 'add_person', :kind => 'Child' } -%><%= button_to_remote "Add another adult to your group", :url => { :action => 'add_person', :kind => 'Adult' } -%>		  
		</span>
	  </div>
	</div>
</div>
<% end %>	